**Question 1:**

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

In [8]:
def power_of_two(n):
    #Base case when the number is 1 
    if n==1:
        return True
    #If n is not divisible by 2 or n=0, then the number is not a power of 2
    elif (n%2!=0) or n==0:
        return False
    #If n is dividible by 2, then recursively check if n/2 is a power of 2
    else:
        return power_of_two(n/2)

In [9]:
power_of_two(1)

True

In [10]:
power_of_two(256)

True

In [11]:
power_of_two(18)

False

**Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

In [23]:
def sum_of_int(n):
    #Base case when n=1, return 1
    if n==1:
        return 1
    #If n>1, return sum of n and the sum of all the (n-1) numbers
    else:
        return n+ sum_of_int(n-1)

In [24]:
sum_of_int(5)

15

In [25]:
sum_of_int(3)

6

**Question 3**

Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

In [26]:
def factorial(N):
    #Base case if n=1 or n=0, return 1
    if (N==1) or (N==0):
        return 1
    #If n>1 return n*factorial(n-1)
    else:
        return N*(factorial(N-1))

In [27]:
factorial(5)

120

In [28]:
factorial(6)

720

In [29]:
factorial(1)

1

In [30]:
factorial(0)

1

**Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

In [31]:
def power(N,P):
    #Base case when power is 0. return 1
    if P==0:
        return 1
    #If power is 1, return N as N^1=N
    elif P==1:
        return N
    #Else return N*N^(P-1)
    else:
        return N*power(N,P-1)

In [32]:
power(5,2)

25

In [33]:
power(5,0)

1

In [34]:
power(5,1)

5

In [36]:
power(3,4)

81

**Question 5**

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6}

Output: 8

In [38]:
def max_element(arr):
    #Base case: If there is one element in array, return that element
    if len(arr)==1:
        return arr[0]
    #Else find the max between the element and rest of the element
    else:
        return max(arr[0],max_element(arr[1:]))

In [39]:
max_element([1, 4, 3, -5, -4, 8, 6])

8

In [40]:
max_element([-1,- 4,- 3, -5, -4, -8, -6])

-1

In [42]:
max_element([4])

4

**Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5

Output : 6

The 5th term of the series is : 6

In [43]:
def AP_term(a,d,N):
    #Base condition: When n=1, sum is a
    if N==1:
        return a
    #Else return d+ sum of (N-1) terms
    else:
        return d + AP_term(a,d,N-1)

In [44]:
AP_term(2,1,5)

6

In [46]:
AP_term(1,2,6)

11

In [47]:
AP_term(5,2,10)

23

**Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = “ABC”*

***Output:***

*“ABC”, “ACB”, “BAC”, “BCA”, “CBA”, “CAB”*

In [110]:
#Helper code
def permute(string,res):
    #add , when no more elemts are there in string
    if (len(string) == 0):
        print(res, end=", ")
        return
    #Keeping each character of string constant, find the permutation of the other characters
    for i in range(len(string)):
        ch = string[i]
        left_substr = string[0:i]
        right_substr = string[i + 1:]
        rest = left_substr + right_substr
        permute(rest, res + ch) 
#Function taking in only S as input        
def permutation(S):
    answer=''
    res=permute(S,answer)
    return res

In [111]:
permutation('ABC')

ABC, ACB, BAC, BCA, CAB, CBA,

**Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}

Output : 120

In [48]:
def array_prod(arr):
    #Base case: When there is 1 element the element is the product
    if len(arr)==1:
        return arr[0]
    #Else return n*(product of rest of the elements)
    else:
        return arr[0]*array_prod(arr[1:])

In [49]:
array_prod([1, 2, 3, 4, 5])

120

In [50]:
array_prod([1,2,3,-1])

-6

In [51]:
array_prod([1, 6, 3])

18