**Question 3**: -
Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.

**Note** - Write comments wherever necessary explaining the code written.

In [1]:
import pandas as pd
#Loading the json data
data=pd.read_json('https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json')

In [2]:
data.head()

                                             pokemon
0  {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1  {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2  {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3  {'id': 4, 'num': '004', 'name': 'Charmander', ...
4  {'id': 5, 'num': '005', 'name': 'Charmeleon', ...

In [3]:
#Changing nested json to dataframe
from pandas.io.json import json_normalize
pokemon_data = json_normalize(data['pokemon'])

C:\Users\Upasana\AppData\Local\Temp/ipykernel_10920/4103419672.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  pokemon_data = json_normalize(data['pokemon'])

In [4]:
pokemon_data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [5]:
#Formatting height, weight and egg
pokemon_data['height']=pokemon_data.height.str.rstrip(' m')
pokemon_data['weight']=pokemon_data.weight.str.rstrip(' kg')
pokemon_data['egg']=pokemon_data.egg.str.rstrip(' km')

In [6]:
pokemon_data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71,6.9,Bulbasaur Candy,25.0,2,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99,13.0,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01,100.0,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61,8.5,Charmander Candy,25.0,2,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09,19.0,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [7]:
#Checking dataypes of columns
pokemon_data.dtypes

id                  int64
num                object
name               object
img                object
type               object
height             object
weight             object
candy              object
candy_count       float64
egg                object
spawn_chance      float64
avg_spawns        float64
spawn_time         object
multipliers        object
weaknesses         object
next_evolution     object
prev_evolution     object
dtype: object

In [8]:
#Checking nulls in different columns
pokemon_data.isna().sum()

id                 0
num                0
name               0
img                0
type               0
height             0
weight             0
candy              0
candy_count       81
egg                0
spawn_chance       0
avg_spawns         0
spawn_time         0
multipliers       81
weaknesses         0
next_evolution    81
prev_evolution    79
dtype: int64

In [9]:
#Changing dtype acording to data description given in question
pokemon_data['height']=pokemon_data['height'].astype('float')
pokemon_data['weight']=pokemon_data['weight'].astype('float')
pokemon_data['candy_count']=pokemon_data['candy_count'].fillna(0).astype('int')
pokemon_data['egg']=pokemon_data['egg'].replace(['Not in Eggs','Omanyte Candy'],0).astype('float')
pokemon_data['avg_spawns']=pokemon_data['avg_spawns'].astype('int')

In [10]:
pokemon_data['multipliers'].head()

0        [1.58]
1    [1.2, 1.6]
2          None
3        [1.65]
4        [1.79]
Name: multipliers, dtype: object

In [11]:
def float_to_int(x):
    x=[round(i) for i in x]
    return x

In [12]:
#Changing list of floats to list of ints
pokemon_data['multipliers']=pokemon_data['multipliers'].fillna("").apply(list)
pokemon_data['multipliers']=pokemon_data['multipliers'].apply(float_to_int)

In [13]:
pokemon_data.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71,6.9,Bulbasaur Candy,25,2.0,0.690,69,20:00,[2],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99,13.0,Bulbasaur Candy,100,0.0,0.042,4,07:00,"[1, 2]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01,100.0,Bulbasaur Candy,0,0.0,0.017,1,11:30,[],"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61,8.5,Charmander Candy,25,2.0,0.253,25,08:45,[2],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09,19.0,Charmander Candy,100,0.0,0.012,1,19:00,[2],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [14]:
#Save dataframe as excel 'pokemon.xlsx'
pokemon_data.to_excel('pokemon.xlsx',index=False)